nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    position: relative;
    left: -50px;
}

.desktop_ul li {
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu {
    background-color: #ececce;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mobile_menu {
    position: relative;
    overflow: hidden;
    background-color: #ececce;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dialog_box {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    height: 90px;
    padding: 20px;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 90px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
}
.dialog_box.open {
    opacity: 1;
    transform: translateX(0);
    right: 0;
    /* visibility: visible; */
    /* transition: all 0.3s ease-in-out; */
}
.dialog_box button {
    padding: 8px 10px;
    background-color: #007fff;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.mobile_ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    background-color: white;
    z-index: 2;
    width: 200px;
    top: 60px;
    left: -100%;
    transition: left 0.4s ease-in-out;
    align-items: center;
}

.mobile_ul.open {
    left: 0;
}

.mobile_ul li {
    padding: 20px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mobile_menu_bar {
    display: none;
}

.landing_page_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.landing_page_nav button {
    background-color: #007fff;
    border: none;
    padding: 8px 15px;
    color: white;

    border-radius: 10px;
}
@media (max-width: 480px) {
    nav {
        padding: 20px 15px;
    }
    .desktop_ul {
        display: none;
    }
    .menu {
        display: none;
    }
    .mobile_menu_bar {
        display: block;
    }
}
