*{
    margin: 0;
    position: 0;
}
.home-feed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .feed_post {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 18px;
    background-color: white;
    transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
    overflow: hidden;
  }
  .feed_post:hover {
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
    transform: scale(0.99);
  }
  .feed_post img {
    max-width: 100%;
    margin-top:10px ;
    border-radius: 10px;
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
    margin: 8px 0;
    overflow: hidden;

    transition: all 0.9s ease-in-out; transition:all 0.9s ease-in-out transaform 1s; /
  }

  .read-more {
    color: blue;
    cursor: pointer;
    text-decoration: none;
  }

.feed_post h2, p{
    text-align: left;
    width: 93%;
}
.date-col{
     text-align: right;
     font-size: 16px;
      color: rgb(83, 83, 83);
}
.icons {
   width:93%;
   display: flex;
   justify-content: flex-start;
   gap: 20px;
   cursor: pointer;
   font-size: 28px;
}



/*mobile view */
@media(max-width:480px){
   .feed_post{
    width: 100%;
   }
}

/*tablet view */
@media(min-width:490px) and (max-width:1024px){

}
