.login-body{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/sunset.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-cont{
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.459);
    background-color:rgba(255, 255, 255, 0.815) ;
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 60%;
    max-height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
}

.login-left,.login-right{
    width:50%;
    padding: 20px;
    box-sizing: border-box;
}

.login-left{
    background-color:slate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    margin:15px;
}
.login-right{
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-email{
    position: relative;
    width: 300px;
    margin: 20px 0;
    
}
.user-password{
    position: relative;
    width: 300px;
    margin: 20px 0;
}


input:focus::placeholder{
    color: rgb(100, 100, 187);
}
input{
    background-color:transparent;
    width: 100%;
    padding: 10px 10px 5px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid blue;
}
h1{
    font-size: 27px;
}

label{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: gray;
    pointer-events: none;
    margin-top: 25px;
    transition: all 0.3s ease;
}
input{
    margin-top: 25px;
}

input:focus + label,
input:not(:placeholder-shown)+label {
    top: -10px;
    left:5px;
    font-size: 12px;
    color: rgb(100, 100, 187);
}

.login-btn{
    width: 200%;
    justify-self: center;
    padding:10px;
    font-size: 20px;
    background-color: blue;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    color: white;
}

.login-btn:hover{
    background-color: darkblue;
}

svg{
    width: 42px;
    height: 65px;
    position: absolute;
    left: -55px;
    top: 70%;
    transform: translateY(-50%);
}
a{
    color: blue;
    font-size: 18px;
}
a:hover{
    color: darkblue;
}

@media(max-width: 480px){
    .login-cont{
        flex-direction: column;
        height: auto;
        max-height: none;
        width: 100%;
        height: 50vh;
        margin: 20px;
    }

    .login-left{
        display: none;
    }

    .login-right{
        width:100%;
        height: 100vh;
        background-color: white;
    }
    h1{
        font-size: 20px;
    }
    svg{
        transform: translateY(-40%);
        left:0;
    }

    label,input{
        margin-top: 7.5px;
        width: 75%;
        margin-left: 40px;
        
    }

    .login-btn{
        margin-bottom: 20px;
        margin-top: 20px;
        width: 30vw;
    }
    a{
        font-size: 15px;
    }
}
@media(min-width: 481px) and (max-width:767px){
    .login-cont{
        flex-direction: column;
        height: auto;
        max-height: none;
        height: 50vh;
        padding: 25px;
        margin: 30px;
    }

    .login-left{
        display: none;
    }

    .login-right{
        width:100%;
        height: 100vh;
        margin: 10px;
    }
    h1{
        font-size: 25px;
    }
    svg{
        transform: translateY(-15%);
    }

    label,input{
        margin-top: 25px;
    }

    .login-btn{
        margin-bottom: 20px;
        margin-top: 20px;
        width: 40vw;
    }
}
@media(min-width:768px) and (max-width:1024px) {
    .login-cont{
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .login-left{
        justify-content: center;
        background-color: blue;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        color: white;
    }
    .login-right{
        justify-content: center;
    }

    input{
        width: 85%;
        margin-left: 30px;
        margin-top: 15px;
    }
    label{
        margin-left: 25px;
        margin-top: 15px;
    }
    svg{
        left:-25px;
        transform: translateY(-50%);
    }
    h1{
        font-size: 22px;
    }
    .login-btn{
        margin-bottom: 30px;
        margin-top: 20px;
        width: 20vw;
        padding: 5px;
    }

    
}

