.history_container {
    width: 100%;
    flex-basis: 50%;
    height: auto; /* Allow the height to adjust based on content */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* flex-grow: 1; */
}

.table_container {
    width: 100%;
    height: 325px; /* Set the max height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}

.history {
    border-collapse: collapse;
    width: 100%;
    font-family: "inclusive sans";
}

.history td,
.history th {
    border: 1px solid #ddd;
    padding: 8px;
}
.history.dark_mode td,.history.dark_mode th{
    border: 1px solid white;
    padding: 8px;
}

.history tr:nth-child(even) {
    background-color: #f2f2f2;
}

.history th {
    background-color: #007FFF;
    color: white;
    text-align: left;
}
