.dashboard_history {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 10px;
    gap:50px;

}

.dashboard_contents{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
@media (min-width: 490px) and (max-width: 1024px) {
    .dashboard_history {
        left: 0;
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    .dashboard_history {
        left: 0;
        flex-direction: column;
    }

    .dashboard_contents{
        flex-direction: column;
    }
}
